.beer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:nth-child(1) {
    border-radius: 11px 11px 0px 0px;
  }
  &:nth-child(odd) {
    background: rgb(245, 245, 245);
  }
  &:first-child {
    border-radius: 11px 11px 0px 0px;
  }
  &:last-child {
    border-radius: 0px 0px 11px 11px;
  }

  img {
    height: 300px;
    min-width: 300px !important;
    border-radius: 11px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .beer-info-left {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    justify-self: left;
    width: 100%;
    .brewery-name {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 5px;
    }
    .beer-name {
      margin-top: 0px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;

      color: rgba(0, 0, 0, 0.61);
    }
    .ibu-abv {
      display: flex;
      flex-direction: row;
      .alcohol {
        margin-right: 50px;
      }
    }
    .details {
      margin-top: 35px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.61);
      margin-bottom: 0px;
    }
    .beer-description-container {
      overflow: scroll;
      height: 160px !important;
      padding-right: 10px;
      // margin-bottom: 15px;
      .beer-description {
        margin-top: 7px;
      }
    }
  }
  .beer-info-right {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    margin-left: 50px;
    margin-right: 25px;
    justify-content: space-between;
    justify-self: flex-end;
    margin-bottom: 20px;

    .rating {
      margin-top: 20px;
      align-self: flex-end;
    }
    .button-and-text {
      display: flex;
      justify-self: flex-end;
      flex-direction: column;

      textarea {
        background: #ffffff;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        border: none;
        height: 130px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
        &:active {
          outline: none;
        }
        &:focus {
          outline: none;
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.45);
        }
      }
    }
    button {
      height: 45px;
      color: white;
      background: #ffa234;
      border-radius: 11px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      &:active {
        outline: none;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
        background: #db841a;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

body {
  background-image: url("../../Images/beer-background.jpg");
  background-size: cover;
  height: 100vh;
}
